* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  margin-bottom: 10px;
  height: 100px;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  border: 4px solid red;
}

#form-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  border: 4px solid red;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 675px;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: flex-end;
}

.name {
  display: flex;
  flex-direction: row;
}

.email-select {
  display: flex;
  flex-direction: row;
}

#submit-btn {
  display: flex;
  justify-content: baseline;
  align-items: end;
}

#label-rate {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
